In [1]:
import pandas as pd
import statsmodels
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
#pip list

In [6]:
df=pd.read_excel(r'C:\Users\Kirsty\Desktop\Steenkoppies Data\Varouchakis 2017\data from Varouchakis 2017.xlsx', parse_dates=['date'],  index_col='date')

In [7]:
#df['temp']= df['temp'].interpolate(limit_direction='both', method='time').mask(df.bfill().isna())
#df['rainfall']= df['rainfall'].interpolate(limit_direction='both', method='time').mask(df.bfill().isna())
#df['flow']= df['flow'].interpolate(limit_direction='both', method='time').mask(df.bfill().isna())

In [8]:
df

            groundwater level (m)
date
1981-01-01                  62.75
1982-01-01                  63.50
1983-01-01                  60.50
1984-01-01                  61.00
1985-01-01                  62.50
1986-01-01                  59.00
1987-01-01                  57.75
1988-01-01                  58.50
1989-01-01                  57.75
1990-01-01                  51.00
1991-01-01                  50.00
1992-01-01                  48.00
1993-01-01                  41.00
1994-01-01                  39.00
1995-01-01                  36.00
1996-01-01                  41.00
1997-01-01                  40.00
1998-01-01                  37.00
1999-01-01                  35.00
2000-01-01                  28.00
2001-01-01                  23.50
2002-01-01                  22.50
2003-01-01                  35.25
2004-01-01                  41.25
2005-01-01                  42.00
2006-01-01                  18.50
2007-01-01                   9.50
2008-01-01                  10.25
2009-01-01                  10.75
2010-01-01                  11.25

In [6]:

#from statsmodels.tsa.seasonal import seasonal_decompose
#result = seasonal_decompose(df, model='multiplicative')
#fig = result.plot()
#plot_mpl(fig)

In [12]:
from statsmodels.tsa.seasonal import STL

stl = STL(df, seasonal=36)

decomposition = stl.fit()

fig, axes = plt.subplots(4, 1, sharex=True)

decomposition.observed.plot(ax=axes[0], legend=False)
axes[0].set_title('GWL')
axes[0].set_ylabel('data')
decomposition.trend.plot(ax=axes[1], legend=False)
axes[1].set_ylabel('trend')
decomposition.seasonal.plot(ax=axes[2], legend=False)
axes[2].set_ylabel('seasonal')
decomposition.resid.plot(ax=axes[3], legend=False)
axes[3].set_ylabel('remainder')

#plt.savefig(r'C:\Users\Kirsty\Desktop\Steenkoppies Data\1. GWL background decline\A2N0553\STL_A2N0553')

ValueError: period must be a positive integer >= 2

In [13]:
from statsmodels.tsa.seasonal import STL

stl = STL(df, seasonal=11)

res = stl.fit()
fig = res.plot()


#plt.savefig(r'C:\Users\Kirsty\Desktop\Yolanda_Data\STL_usgae')#

ValueError: period must be a positive integer >= 2

In [9]:
resid=res.resid

In [10]:
resid

date
1985-05-01   -0.398883
1985-06-01   -0.288105
1985-07-01   -0.057322
1985-08-01    0.105888
1985-09-01    0.331231
                ...
2018-01-01   -0.211459
2018-02-01    0.498019
2018-03-01    0.601370
2018-04-01    1.164858
2018-05-01   -1.687306
Name: resid, Length: 397, dtype: float64

In [11]:
np.savetxt(r'C:\Users\Kirsty\Desktop\Steenkoppies Data\1. GWL background decline\A2N0553\resid STL_ A2N0553.csv', resid, delimiter=',', fmt='%s')

In [ ]:

import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
%matplotlib inline

# the main library has a small set of functionality
from stldecompose import decompose

In [ ]:
decomp = decompose(df, period=15)

decomp

In [ ]:
import numpy as np
import statsmodels.api as sm

In [ ]:
stl= pd.read_excel(r'C:\Users\Kirsty\Desktop\For code\STL_GW.xlsx', parse_dates=['date'],  index_col='date')

In [ ]:
stl

Autocorrelation (ACF)
Running the example creates a 2D plot showing the lag value along the x-axis and the correlation on the y-axis between -1 and 1.

Confidence intervals are drawn as a cone. By default, this is set to a 95% confidence interval, suggesting that correlation values outside of this code are very likely a correlation and not a statistical fluke.

In [ ]:
from statsmodels.graphics.tsaplots import plot_acf
from matplotlib import pyplot
plot_acf(stl, lags=12)
pyplot.show()